---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";

---
<main>
<div class="bg-white">  
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-2 lg:py-2">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Read our Technology walkthroughs on <a href="https://medium.com/shipping-intel" class="font-semibold text-[#008993]"><span class="absolute inset-0" aria-hidden="true"></span>Medium<span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Interface free insights.</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Off-the-shelf large language models use information from around the internet. Our software that converts maritime technical documentation into a database similar to ChatGPT. User queries are then drawn from the technical database when formulating responses. The platform is a push into interface-free interactions that will provide support to marine operators.
        </p>
          
        </div>
      </div>
    </div>
  </div>
</main>